<head>
    <title>Show Users</title> <!--Titulo de pagina WEB-->
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table style="width: 500px;"> <!--aumenta el tamaño de los espacios dentro de las celdas-->
        <thead>
            <tr>
                <th>{{person_name}} Your Half Number is </th> <!--Cabezera o titulo de la columna-->
                <th>{{half_number}} </th>
            </tr> <!--Table Route o una fila dentro de la tabla-->
        </thead>
</tbody>