<html>
<head>
    <title>Show Users</title> <!--Titulo de pagina WEB-->
</head>
<body>
    <table style="width: 500px;"> <!--aumenta el tamaño de los espacios dentro de las celdas-->
        <thead>
            <tr>
                <th>Usuario</th> <!--Cabezera o titulo de la columna-->
                <th>Permiso</th>
            </tr> <!--Table Route o una fila dentro de la tabla-->
        </thead>
        <tbody>
            <tr>
                <td>Andres</td> <!--se utiliza para definir elementos estandares dentro de la tabla-->
                <td>Admin</td>
            </tr>
            <tr>
                <td>Logan</td> <!--se utiliza para definir elementos estandares dentro de la tabla-->
                <td>Super User</td>
            </tr>
            <tr>
                <td>Chompi</td> <!--se utiliza para definir elementos estandares dentro de la tabla-->
                <td>User</td>
            </tr>
        </tbody>
</html>